.notification-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu_item {
  border-bottom: 1px solid #f0f6f9;
}

.notification-dropdown-trigger:hover {
  cursor: pointer;
}

.notification-dropdown-trigger i {
  color: #1890ff;
  font-size: 1.5rem;
}

.notification-dropdown-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
}

.notification-dropdown-header span:last-child {
  color: #1890ff;
  cursor: pointer;
}

.notification-dropdown-badge {
  margin-left: 0.5rem;
  padding: 0.2rem 0.4rem;
  background-color: #1890ff;
  color: #fff;
  border-radius: 4px;
  font-size: 0;
}

.mark_read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1f2124;
}
