@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=League+Spartan:wght@400;500;600&family=Poppins:wght@200;300&display=swap');


.userName {
    height: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1F2124;
}

.verify_img {
    margin-top: 20px;
}

.place_name {
    font-style: normal;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: #7A7777;
}

.user_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F2124;
}

.user_para2 {
    color: #3E6DA8;
    font-size: 15px;
    font-family: 'Inter';
}

.card {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    background: #dde9f9;
    border-radius: 6px;
}

.card_msg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #7A7777;
}

.card_date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  color: #1F2124;
}


.main_row_card_f_points_profile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1F2124;
}


.image_gallery_row {
    display: flex;
    justify-content: center;
}

.gallery_head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1F2124;
}

.gallery_name {
    color: #EAB2BB;
}


.line_col {
    height: 2px;
    width: 100%;
    background-color: lightgray;
}

.chat_btn {
    background: #EAB2BB;
    border-radius: 12px;
}
.btn_row_chat{
    display: flex;
    justify-content:left;
    align-items: baseline;
}

.btn_msg {
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.flex_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.profile_box {
    width: 100px;
    height: 100px;
    border: 1px solid #D6D6D6;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;    
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1F2124;
}

.furBaby_head {
    width: 150px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1F2124;
}

.furBaby_name {
    color: #EAB2BB;
}
.furBaby_box {
    width: 100px;
    height: 100px;
    border: 1px solid #D6D6D6;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;    
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9.5px;
    color: #1F2124;
}

.additional_Info {
    width: 151px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1F2124;
}

.info_list {
    width: 225px;
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #1F2124;
    margin-left: 30px;
}

.pets_foot {
    border-radius: 6px;
    margin-top: 20px;
}

.review_para {
    width: 120px;
    height: 10px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #62686E;
}

.review_para2 {
    width: 92px;
    height: 23px;
    font-family: 'Inter';
    margin-top: 20px;
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #62686E;
}

.review_last_para {
    width: 573px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1F2124;
}
.start_date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    color: #1F2124;
  }
  
  .end_date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    color: #1F2124;
  }

@media screen and (max-width: 800px) {
    .main_row_div {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .main_row_user_profile {display: flex; justify-content: center;}
}