@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=League+Spartan:wght@400;500;600&family=Poppins:wght@200;300&display=swap');

.main_row_div {
    /* margin-top: 40px;
    margin-left: 367px;
    margin-right: 367px;
    margin-bottom: 40px; */
}

.main_row_user_profile {
    /* display: flex;
    justify-content: center; */

}

.main_subrow_user_profile {
    /* display: flex;
    justify-content: center; */
    /* gap: 15px; */
}

.userName {
    /* width: 47px; */
    height: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* line-height: 30px; */
    color: #1F2124;
}

.verify_img {
    /* display: flex;
    justify-self: center;
    align-items: center; */
    margin-top: 20px;
    /* height: 1px; */
}

.place_name {
    /* width: 191px; */
    /* height: 17px; */
    font-style: normal;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
    color: #7A7777;
}

.user_para {
    /* width: 186px; */
    /* height: 17px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 28x; */
    color: #1F2124;
}

.user_para2 {
    color: #3E6DA8;
    font-size: 15px;
    font-family: 'Inter';
}

.card {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    background: #dde9f9;
    border-radius: 6px;
}

.card_msg {
    /* width: 78px; */
  /* height: 7px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  /* line-height: 4px; */
  color: #7A7777;
}

.card_date {
  /* width: 139px; */
  /* height: 9px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  /* line-height: 24px; */
  color: #1F2124;
}

.main_row_cards_icon_profile {
    /* margin-top: 21px; */
}

.main_row_card_f_points_profile {
    /* width: 63px; */
    /* height: 10px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 40px; */
    color: #1F2124;
}

.rating {
}

.image_gallery_row {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.gallery_head {
    /* width: 150px; */
    /* height: 17px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 17px; */
    color: #1F2124;
}

.gallery_name {
    color: #EAB2BB;
}


.line_col {
    height: 2px;
    width: 100%;
    background-color: lightgray;
}

.chat_btn {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* padding: 8px 12px; */
    /* gap: 4px; */
    /* width: 90px; */
    /* height: 40px; */
    background: #EAB2BB;
    border-radius: 12px;
}
.btn_row_chat{
    display: flex;
    justify-content:left;
    align-items: baseline;
}

.btn_msg {
    /* width: 66px; */
    /* height: 24px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 24px; */
    text-align: center;
    color: #FFFFFF;
}

.flex_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.profile_box {
    width: 100px;
    height: 100px;
    border: 1px solid #D6D6D6;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;    
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1F2124;
}

.furBaby_head {
    width: 150px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1F2124;
}

.furBaby_name {
    color: #EAB2BB;
}
.furBaby_box {
    width: 100px;
    height: 100px;
    border: 1px solid #D6D6D6;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;    
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9.5px;
    color: #1F2124;
}

.additional_Info {
    width: 151px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1F2124;
}

.info_list {
    width: 225px;
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #1F2124;
    margin-left: 30px;
}

.pets_foot {
    border-radius: 6px;
    margin-top: 20px;
}

.review_para {
    width: 120px;
    height: 10px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #62686E;
}

.review_para2 {
    width: 92px;
    height: 23px;
    font-family: 'Inter';
    margin-top: 20px;
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #62686E;
}

.review_last_para {
    width: 573px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1F2124;
}

@media screen and (max-width: 800px) {
    .main_row_div {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .main_row_user_profile {display: flex; justify-content: center;}
}