.main_margin_box{
    margin-left: 376px;  
    margin-right: 376px; 
    margin-top: 50px;
    margin-bottom: 50px;  


}

.avatar_row_content{
       display: flex;
       flex-direction: row;
       gap:20px
}
.main_right_first{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.main_right_sec{
    display: flex;
    justify-content: flex-end;

}

.sec_contentRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.userName {
    /* width: 47px; */
    /* height: 17px; */
    /* left: 498px; */
    /* margin-top: 70px; */
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* line-height: 40px; */
    color: #1F2124;
}