@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Syne:wght@700&display=swap");
.firstBanner_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #eab2bb;
}
.secBanner_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1f2124;
}
.search_field {
  height: 40px;
  background: #f8f8f8;
  border-radius: 8px 0px 0px 8px;
}
.search_field::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #acacac;
}
.search_field_btn {
  width: 100px;
  height: 40px;
  background: #eab2bb;
  border-radius: 0px 8px 8px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.search_field_btn:hover {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .firstBanner_head {
    font-size: 25px;
  }
}
