.name_heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    color: #1F2124;
}

.msg_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* line-height: 18px; */
    color: #1F2124;
}

.time_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* line-height: 20px; */
    color: #7A7777;
}

.chat_msg_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 19px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: #7A7777;
}