body {
  margin: 0;
  padding: 0;
}
.spinner_whole_web {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  padding: 0px;
  margin: 0px;
  top: 0px;
  background-color: #ffffff;
}
.site-layout-content {
  min-height: 280px;
  padding: 0px;
  margin: 0px;
}
.footer_main {
  height: 131px;
  background: #eab2bb;
}
