@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Syne:wght@700&display=swap");
.img_banner {
  height: 45vh;
  width: 100%;
}
.head_banner {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1f2124;
}
.head_banner_inner {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #eab2bb;
  font-family: "Syne", sans-serif;
}
@media screen and (max-width: 800px) {
  .head_banner {
    font-size: 22px;
    padding-left: 20px;
  }
  .head_banner_inner {
    font-size: 22px;
  }
}
